.app-wrapper{  
  display: grid;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-rows: auto 1fr 50px;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px ;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #fff;
  font-size: 100%;
  overflow: hidden;
  /* background-color: rgb(15, 166, 207); */
  grid-template-areas: 
  "h h"
  "nav content"
  "f f";
}
.profile{
  grid-area: content;
  background: linear-gradient(145deg, #56a7be, #66c6e2);

  }
  .profile > img{
    object-fit: fill;
    height: 200px;
    width: 100%;
  }
 
h2{
  font-size: 1.5em;
  margin-bottom: 10px;
 
} 
 
 
  @media only screen and (max-width: 480px){
    .app-wrapper{
      max-width: 500px;
      
    }
  }